<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3><i class="fa fa-bolt"></i> Lightning</h3>
        <p class="footer-contact">
          Fast as Lightning, Secure Always<br>
          Smart Proxy Tool Powered by V2Ray<br>
          <br>
          Email: martiny895z@gmail.com<br>
        </p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-external-link"></i> Links</h3>
        <p><a href="{{ site.baseurl }}/"><i class="fa fa-home"></i> Home</a></p>
        <p><a href="{{ site.baseurl }}/contact"><i class="fa fa-envelope"></i> Contact</a></p>
        <p><a href="{{ site.baseurl }}/privacy"><i class="fa fa-shield"></i> Privacy Policy</a></p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-download"></i> Download</h3>
        <p>
          <i class="fa fa-android"></i> Android (Google Play - Coming Soon)<br>
          <i class="fa fa-apple"></i> macOS<br>
          <i class="fa fa-windows"></i> Windows<br>
          <i class="fa fa-linux"></i> Linux<br>
        </p>
      </div>
    </div>
  </div>

  <div class="copyright text center">
    <p>&copy; {{ site.time | date: '%Y' }} Lightning. All rights reserved.</p>
  </div>
</footer>