{% assign t = site.data.i18n[page.lang] %}

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3><i class="fa fa-bolt"></i> Lightning</h3>
        <p class="footer-contact">
          {{ t.hero.slogan }}<br>
          {{ t.hero.tagline }}<br>
          <br>
          Email: {{ site.company_email }}<br>
        </p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-external-link"></i> {{ t.footer.links }}</h3>
        <p><a href="{{ site.baseurl }}/{{ page.lang }}/"><i class="fa fa-home"></i> {{ t.nav.home }}</a></p>
        <p><a href="{{ site.baseurl }}/{{ page.lang }}/contact"><i class="fa fa-envelope"></i> {{ t.nav.contact }}</a></p>
        <p><a href="{{ site.baseurl }}/{{ page.lang }}/privacy"><i class="fa fa-shield"></i> {{ t.nav.privacy }}</a></p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-download"></i> {{ t.footer.download }}</h3>
        <p>
          <i class="fa fa-android"></i> Android ({{ t.download.coming_soon }})<br>
          <i class="fa fa-apple"></i> macOS<br>
          <i class="fa fa-windows"></i> Windows<br>
          <i class="fa fa-linux"></i> Linux<br>
        </p>
      </div>
    </div>
  </div>

  <div class="copyright text center">
    <p>&copy; {{ site.time | date: '%Y' }} Lightning. {{ t.footer.copyright }}</p>
  </div>
</footer>
