<head>
  <!-- meta data & title -->
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="">

  <!-- Favicon 和 Touch Icons -->
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/ico/favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="64x64" href="{{ site.baseurl }}/assets/ico/favicon-64x64.png">
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/ico/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="128x128" href="{{ site.baseurl }}/assets/ico/apple-touch-icon-128.png">

  <!-- CSS -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">
  <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap.css">
  <!-- Font Awesome 4.7.0 via CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/animate.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>