name: 部署 Jekyll 网站到 GitHub Pages

on:
  # 在推送到 master 分支时触发
  push:
    branches: ["master"]

  # 允许手动触发工作流
  workflow_dispatch:

# 设置 GitHub Pages 部署权限
permissions:
  contents: read
  pages: write
  id-token: write

# 只允许一个并发部署
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # 构建任务
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 检出代码
        uses: actions/checkout@v4

      - name: 设置 Ruby 环境
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'
          bundler-cache: true # 缓存依赖,加速构建

      - name: 设置 GitHub Pages
        id: pages
        uses: actions/configure-pages@v4

      - name: 使用 Jekyll 构建网站
        run: bundle exec jekyll build --baseurl "${{ steps.pages.outputs.base_path }}"
        env:
          JEKYLL_ENV: production

      - name: 上传构建产物
        uses: actions/upload-pages-artifact@v3

  # 部署任务
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: 部署到 GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
